*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
 a{
  text-decoration: none;
  color: gold;
  
 }
.container{
  width: 30%;
  display: flex;
  justify-content:center ;
  align-items: center;
  margin-top: 25px;
  border-right: 2px solid gray;
}

  /* container:{
   width:"30%",
           
             flexDirection:"center",
           },
           display:"flex",
           alignItems:"center",
           marginTop:25,
          borderRight:"2px solid grey",
  } */